.Header{
    background-color: blue;
    margin: 0%;
}
h1{
    background-color: blueviolet;
    text-align: center;
    color:white;
    margin: 0%;
    padding: 5px;
    min-width: 40%;
}
